<%= render 'shared/header_title', header_title: "Book Contents", header_sub_title: "Contents related to #{@book.title}" %>

<!-- Start row -->
<div class="row">
  <div class="col-sm-3 right-border book-index-container">
    <ul>
      <% @book_contents.each do |book_content| %>
        <li class="<%= "selected" if book_content.id == @book_content.id %>">
          <%= link_to book_content.title, book_book_contents_path(@book, content: book_content.id) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <%= @book_content.try(:description) %>
  </div>
</div>