<%= render 'shared/header_title', header_title: "", header_sub_title: "Programing is fun! as Rubiest" %>

<!-- Start row -->
<div class="row">
  <div class="col-md-4 rubiests-container">
    <% @rubiests.each do |rubiest| %>
      <%= link_to rubiest.title, rubiest_path(rubiest, page: (params[:page] || 1)), class: "rubiests-anchor #{"selected" if @rubiest.id == rubiest.id}" %>
      <% if rubiest.featured? %>
        <sup class="featured btn btn-danger btn-xs">Featured</sup>
      <% end %>
      <hr>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= @rubiest.description.html_safe %>
  </div>

  <div class="col-sm-12">
    <%= paginate @rubiests %>
  </div>
</div>
<!-- /.row -->
