<%= render 'shared/header_title', header_title: "Rubiests", header_sub_title: "Programing is fun! as Rubiest" %>

<!-- Start row -->
<div class="row">
  <div class="col-md-4 rubiests-container">
    <% @rubiests.each do |rubiest| %>
      <%= link_to rubiest.title, rubiest_path(rubiest), class: "rubiests-anchor #{"selected" if @rubiest.id == rubiest.id}" %>
      <% if rubiest.featured? %>
        <sup class="featured btn btn-info btn-xs">Featured</sup>
      <% end %>
      <hr>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= @rubiest.try(:description) %>
  </div>
</div>
<!-- /.row -->
