<div class="row">
  <div class="col-sm-12 text-right">
    <%=  link_to "Edit", edit_topic_problem_solution_path(@topic, @problem, solution), class: "btn btn-info btn-xs", role: "button", data: {remote: true} %>
    <%=  link_to "Delete",  topic_problem_solution_path(@topic, @problem, solution), class: "btn btn-danger btn-xs", role: "button", method: :delete, data: {confirm: "Are you sure ?"} %>
  </div>
</div>