.snm-border-style-one{
  border: 1px #cccccc solid;
}
.snm-height-four{
  height: 400px;
}
.snm-image-size-portfolio-one{
  height: 250px;
  width: 100%;
}
.snm-image-profile-one{
  height: 250px;
  width: 100%;
}