<%= form_for [@topic, @problem, @solution] do |form| %>
  <fieldset class="form-group">
    <%= form.label "Answer", for: "Answer" %>
    <%= form.text_area :title, class: "form-control", placeholder: "Your Answer...." %>
    <!-- hidden fields -->
    <%= hidden_field_tag "solution[problem_id]", @problem.id %>
  </fieldset>
  <button type="submit" class="btn btn-primary">Answer Submition</button>
<% end %>
